# ===== API / Database =====
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USER=
MONGODB_PASS=
MONGODB_DB_NAME=
MONGODB_DB_NAME2=

# ===== Discord Bot =====
NODE_ENV=production
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# ===== Internal Services URL (內部網路呼叫，通常不需要修改) =====
# (註：這些變數已經在 docker-compose.yml 裡面綁定好內網網址，因此在 Coolify 上可以不用填寫)
API_URL=http://api:3000/api
UI_URL=http://ui:3000
